<mat-card class="register-card">
    <mat-card-content>
      <h1 class="app-name">Chef-Kota Shop</h1>
      <form (ngSubmit)="register()">
        <h2>Register</h2>
  
        <!-- Username Field -->
        <mat-form-field class="full-width-input">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Username"
            name="username"
            [(ngModel)]="user.username"
            required
          />
        </mat-form-field>
  
        <!-- First Name Field -->
        <mat-form-field class="full-width-input">
          <mat-label>First Name</mat-label>
          <input
            matInput
            placeholder="First Name"
            name="first_name"
            [(ngModel)]="user.first_name"
            required
          />
        </mat-form-field>
  
        <!-- Last Name Field -->
        <mat-form-field class="full-width-input">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            placeholder="Last Name"
            name="last_name"
            [(ngModel)]="user.last_name"
            required
          />
        </mat-form-field>
  
        <!-- Email Field -->
        <mat-form-field class="full-width-input">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            placeholder="Email"
            name="email"
            [(ngModel)]="user.email"
            required
          />
        </mat-form-field>
  
        <!-- Password Field -->
        <mat-form-field class="full-width-input">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="user.password"
            required
          />
          <mat-icon matSuffix>remove_red_eye</mat-icon>
        </mat-form-field>
  
        <!-- Actions -->
        <div class="actions">
          <button
            class="btn-lg"
            mat-raised-button
            color="primary"
            type="submit"
          >
            Register <mat-icon>person_add</mat-icon>
          </button>
        </div>
  
        <!-- Login Redirect -->
        <div class="create-account">
          <p>Already have an account? <a routerLink="/login">Login</a></p>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  